# secrets
secrets.yaml
secrets.txt
*.env

# logs
*.log

# traefik
traefik/acme/acme.json

# mosquitto
mosquitto/passwd

# python
__pycache__

# appdaemon
/appdaemon/compiled/

# homeassistant
known_devices.yaml
harmony_*.conf
homeassistant/.cloud
homeassistant/.digitalstrom
homeassistant/.storage
homeassistant/firetv/adbkey*
homeassistant/deps
homeassistant/.HA_VERSION
homeassistant/.uuid
homeassistant/google_calendars.yaml
homeassistant/.google.token

# custom components are managed by hacs
homeassistant/custom_components/*
!homeassistant/custom_components/.gitkeep
homeassistant/www/*
!homeassistant/www/.gitkeep

# traccar
traccar/logs/*.log.*

# ftp home dir
ftp_data/*

# git
!/.gitignore

# ide
.idea
.vscode